.banner {
    background-image: url("../assets/pups_running.jpeg");
    background-repeat: no-repeat; 
    background-size: cover; 
    box-shadow: 0 0 20px 20px white inset;
    padding: 10%;
    background-position: center;
    color:#cc6600; 
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 90px;
    margin: 0%; 
   
}

.all_profiles {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    background-color: #fff2e6;

}


.dog_profile {
    border: solid #cc6600; 
    width: 400px;
    text-align: center; 
    margin: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgb(157, 157, 157) 5px 5px 15px 5px;
}


h3 {
   color: #cc6600;
   font-size: 25px;
   margin-left: 40px; 
}

.sub_header {
    display: flex;
    justify-content: space-between;
  

}

.search {
    font-size: 20px;
    
}

.search_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.filter_buttons {
    
    align-items: center;
    justify-content: center; 
    padding-left: 1em; 

}

.sharing_button {
    padding: 5px;
    color: white;
    background-color:#cc6600; 
    box-shadow: rgb(157, 157, 157) 5px 5px 15px 5px;
}

.all_button {
    padding: 5px;
    margin-left: 5px; 
    margin-right: 40px;
    color: white;
    background-color: #cc6600; 
    box-shadow: rgb(157, 157, 157) 5px 5px 15px 5px;

}

.input_field {
    padding: 5px; 
}

.dog_name {
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #cc6600;
    margin: 15px; 

}

.image {
    border-radius: 25px;
    margin-bottom: 15px; 
 
    
}

.dog_info {
     justify-content: center;
     align-items: center; 
     margin-bottom: 15px; 
}

.aboutMe {
    margin-bottom: 30px; 
    margin-left: 15px; 
    margin-right: 15px; 
    border: solid thin #cc6600; 
    border-radius: 5px;
    padding: 5px; 

}

.view_button {
    padding: 7px;
    color: white;
    background-color:#cc6600; 
    border-radius: 10px; 
    margin-bottom: 10px; 
   

}

.tag_line {
    font-size: 30px;
    margin: 5px; 
}