
#video_banner {
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: -1; 
    overflow: hidden; 
    height: 100%;
    max-height: 56.3vw; 
    width: 100%; 
    opacity: 0.8; 

}
.banner_words {
    color: #cc6600;
    font-size: 110px; 
    margin: 0%;
}

.tag_line_welcome {
    font-size: 38px;
    margin: 5px; 
    padding-top: 4%;
}

.welcome {
    display: flex;
    flex-direction: column; 
    text-align: center;  
    font-family: Tahoma, Geneva, sans-serif;
    padding-bottom: 20%; 
    padding-top: 10%;
    color: rgb(101, 99, 99);
}

.line_container_welcome {
    display: flex; 
    justify-content: center; 
    padding-top: 3%;
}

.line_divider_welcome {
    border-bottom: solid thin rgb(101, 99, 99);
    width: 45%;
    text-align: center; 
}

.all_profiles {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    box-shadow: 0 0 3px 3px white inset;

}


.dog_profile {
    
    width: 400px;
    text-align: center; 
    margin: 20px;
    border-radius: 25px;
    background-color: white;
    box-shadow: rgb(201, 198, 198) 1px 1px 3px 1px;
    color: rgb(128, 128, 128);
    font-family: 'Muli', 'Helvetica', sans-serif, system-ui;
    font-size: 20px; 
    transition-duration: 0.5s;
}

.dog_profile:hover {
    box-shadow: rgb(194, 191, 191) 0px 0px 25px 10px;
  
}


h3 {
   color: #cc6600;
   font-size: 25px;
   margin-left: 40px; 
}

.sub_header {
    display: flex;
    justify-content: space-between;
    font-family: 'Muli', 'Helvetica', sans-serif, system-ui;
   
    
}


.search {
    font-size: 20px;
    color: rgb(128, 128, 128);
    
}

.search_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.filter_buttons {
    
    align-items: center;
    justify-content: center; 
    padding-left: 1em; 

}

.sharing_button {
    padding: 5px;
    color: white;
    background-color:#cc6600; 
    box-shadow: rgb(191, 186, 186) 1px 1px 10px 1px;
}

.all_button {
    padding: 5px;
    margin-left: 5px; 
    margin-right: 40px;
    color: #cc6600;
    box-shadow: rgb(191, 186, 186) 1px 1px 10px 1px;

}

.input_field {
    padding: 5px; 
}

.dog_name {
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #cc6600;
    margin: 15px; 

}

.image {
    border-radius: 25px;
    margin-bottom: 15px; 
 
    
}

.dog_info {
     justify-content: center;
     align-items: center; 
     margin-bottom: 15px; 
}

.aboutMe {
    margin-bottom: 30px; 
    margin-left: 15px; 
    margin-right: 15px; 
    font-size: 15px; 
    border-radius: 5px;
    padding: 5px; 
    
    background-color: white; 

}

.view_button {
    padding: 7px;
    color: white;
    background-color:#cc6600; 
    border-radius: 10px; 
    margin-bottom: 10px; 
   

}



.illustrations {
    display: flex;
    flex-direction: row; 
    
}

.icon_create {
    border-radius: 50%;
    box-shadow: rgb(184, 182, 182) 2px 2px 15px 0px;
    padding: 0% 3%;
    

}

.icon_match {
    border-radius: 50%;
    box-shadow: rgb(184, 182, 182) 2px 2px 15px 0px;
    padding: 0% 3%;
    

}

.icon_request {
    border-radius: 50%;
    box-shadow: rgb(184, 182, 182) 2px 2px 15px 0px;

}

.how_to_header {
    font-size: 40px; 
    padding: 5%;
}

.illustration_header {
    font-size: 20px; 
    font-weight: bold;
    margin-top: 2%;
}

.instructions {
    padding: 4%;
}

.divider-container {
    
    color: rgb(128, 128, 128);
    text-align: center; 
    justify-content: center; 
    padding-bottom: 5%; 
    width: fit-content; 
    
}

.single_illustration {
   
    width: 20%;
    
    
}

.illustrations {
    justify-content: center; 
    padding-bottom: 2%;
}

.line_divider {
    border-bottom: solid thin rgb(128, 128, 128);
    width: 50%;
    text-align: center; 
}

.line_container {
    display: flex; 
    justify-content: center; 
    padding-bottom: 5%;
   
}