

.pupdate_request {
    
    margin: 100px; 
    
    
}

.contact_button {
    margin-left: 100px; 
    margin-right: 10px; 
    width: 130px; 
    background-color: #cc6600; 
    color: white; 
    border-radius: 10px; 
    padding: 9px; 
}

.decline_button {
    width: 130px; 
    background-color:rgb(88, 86, 86); 
    color: white; 
    border-radius: 10px; 
    padding: 9px; 

}

.text {
    font-size: 24px; 
    color: rgb(128, 128, 128);
    font-family: 'Muli', 'Helvetica', sans-serif, system-ui;
} 

.contact_info {
    box-shadow: rgb(180, 179, 179) 2px 2px 15px 2px;
    margin: 25px; 
    padding: 15px; 
    width: 700px; 
    text-align: center; 
    background-color: rgb(242, 241, 238); 
    border-radius: 25px; 
    background-color:#fff2e6;
}

