.feedback {
    border: 1px dotted #26734d;
    padding: 1rem;
    background-color:#79d2a6;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    animation: 1s slideDown;
  }
  
  
  .invisible {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  
  @keyframes slideDown {
    0% {
      top: 0%;
    }
  
    100% {
      top: 40%;
    }
  }
  