.feedback {
    border: 1px dotted white;
    padding: 1.5rem;
    background-color:rgb(78, 104, 212, 0.8);
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    animation: 1.5s slideDown;
    color: white;
    font-weight: bold; 
    text-align: center; 
    
  
}
  .invisible {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  
  @keyframes slideDown {
    0% {
      top: 0%;
    }
  
    100% {
      top: 40%;
    }
  }
  