.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #cc6600; 
    padding: 20px;
    font-family: 'Muli', 'Helvetica', sans-serif, system-ui;
    
 }

 .link {
    color: white; 
 }

 .greeting {
    color: white; 
    font-family: Georgia, serif; 
    font-size: 20px; 

 }

 .notify-bubble {
    position: absolute;
    left: -20px;
    padding: 2px 5px 2px 6px;
    background-color: #fff2e6;
    color: black;
    font-size: 0.65em;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
  
  }


.notify-container {
    position: relative;
      display: inline-block;
    
  }


.avatar {
    position: absolute;
}