.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #cc6600; 
    padding: 20px;
    font-family: 'Muli', 'Helvetica', sans-serif, system-ui;
    
 }

 .link {
    color: white; 
 }

 .greeting {
    color: white; 
    font-family: Georgia, serif; 
    font-size: 20px; 

 }